:root {
  --color-primary-default: #339799;
  --color-primary-dark: #00696b;
  --color-primary-light: #68c8ca;
  --color-secondary-default: #9acbc7;
  --color-secondary-dark: #8eafac;
  --color-secondary-light: #cde2e9;
  --color-success-default: #5cd67a;
  --color-success-dark: #29a347;
  --color-success-light: #adebbd;
  --color-danger-default: #ff3d33;
  --color-danger-dark: #cc0a00;
  --color-danger-light: #ff9e99;
  --color-warning-default: #ffaa33;
  --color-warning-dark: #cc7700;
  --color-warning-light: #ffd599;
  --color-grayscale-gray-01: #1e212b;
  --color-grayscale-gray-02: #45566f;
  --color-grayscale-gray-03: #6a738f;
  --color-grayscale-gray-04: #838ba7;
  --color-grayscale-gray-05: #d0d3dd;
  --color-grayscale-gray-06: #fefefe;
  --color-background-background-01: #e5e9f2;
  --color-background-background-02: #ffffff;
  --color-background-background-03: #eef3fc;
  --color-changeless-white: #fefeff;
  --color-changeless-black: #000000;
  --color-changeless-mask-black: rgba(0, 0, 0, 0.8);
  --color-changeless-shadow-black: rgba(0, 0, 0, 0.2);
  --color-background-background-01-70: rgba(229, 233, 242, 0.7);
  --color-background-background-02-0: rgba(255, 255, 255, 0);
  --color-background-background-03-0: rgba(238, 243, 252, 0);
  --color-background-background-01-0: rgba(229, 233, 242, 0);
}
